/*font-family: 'Indie Flower', cursive;
font-family: 'Inconsolata', monospace;*/
* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    margin: auto 150px;
    border: solid red 1px;

}
.logo {
    background-color: #2e2d2d
}
.navigation {
    background-color: #2e2d2d
}
.navigation > ul > li{
    display: inline;
    list-style-type: none;
}
.navigation a {
    color: white;
    margin: auto 25px;
    font-family: 'Indie Flower', cursive;
    font-size: 40pt;
}
#movie-list, #session-list {
    grid-column-start: span 2;
}
.movie {
    display: flex;
    align-items: flex-start;
    margin: 20px 300px auto auto;
}
.session {
    display: flex;
    align-items: flex-start;
    margin: 20px 300px auto auto;
}
.movie-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.small-images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.small-image {
    height: 80px;
}
.movie-description {
    position: relative;
    display: block;
    width: 70%;
    margin: 15px;
}
.movie-description * {
    margin: 10px;
}
.day {
    display: inline-block;
    margin: 0;
    width: 100px;
}
.session-time {
    margin: 0;
    padding: 5px;
}
.delete-film-button {
    position: absolute;
    top: 10px;
    right: 50px;
    display: none;
}
#edit-button {
    position: fixed;
    top: 0px;
    right: 0px;
}
.edit-form {
    position: fixed;
    top: 100px;
    right: 50px;
    display: none;
}
.visible {
    display: inline;
}


.backgtound-color-class {
    background-color: #efefef;
}